####-*.patch
*.pyc
*.swp
build/
dist/
*.egg/
electrum_spero.egg-info/
electrum_spero/locale/
.devlocaltmp/
*_trial_temp
packages
env/
.buildozer/
bin/
/app.fil
.idea
.mypy_cache
.vscode
electrum-spero_data
.DS_Store

# tests/tox
.tox/
.cache/
.coverage
.pytest_cache

# build workspaces
contrib/build-wine/tmp/
contrib/build-wine/fresh_clone/
contrib/build-linux/sdist/fresh_clone/
contrib/build-linux/appimage/build/
contrib/build-linux/appimage/.cache/
contrib/android_debug.keystore
contrib/android/android_debug.keystore
contrib/secp256k1/
contrib/zbar/
contrib/osx/build-venv/

# shared objects
electrum_spero/*.so
electrum_spero/*.so.0
electrum_spero/*.dll
electrum_spero/*.dylib
contrib/osx/*.dylib
